amqp==5.0.6
asgiref==3.2.10
billiard==3.6.4.0
celery==5.0.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
crispy-tailwind==0.4.0
cycler==0.10.0
Cython==0.29.21
Django==3.1.2
django-autoslug==1.9.8
django-cleanup==5.1.0
django-crispy-forms==1.11.2
django-environ==0.4.5
djangorestframework==3.12.4
fontawesome-free==5.15.0
joblib==1.0.0
kiwisolver==1.3.1
kneed==0.7.0
kombu==5.0.2
matplotlib==3.3.4
numpy==1.20.1
pandas==1.2.1
pep517==0.9.1
Pillow==8.1.0
prompt-toolkit==3.0.18
psycopg2==2.8.6
pyclustering==0.10.1.2
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
python-dateutil==2.8.1
python-memcached==1.59
pytz==2020.1
retrying==1.3.3
scikit-learn==0.24.1
scipy==1.6.0
six==1.15.0
sqlparse==0.4.1
threadpoolctl==2.1.0
toml==0.10.2
vine==5.0.0
wcwidth==0.2.5
