.guide-container {
    margin: 2rem 4rem;
    text-align: left;
}
.guide-header {
    margin-bottom: 2rem;
    color: #000000;
    line-height: 1.15;
    text-align: center;
    font-size: 2rem;
}
.guide-item {
    margin-top: 0.5rem;
}
.guide-item-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    background-color: #60A5FA;
    border: none;
    border-radius: 0.2rem;
    color: #000000;
    text-align: left;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
}
.guide-item-title > span {
    flex: 1;
}
.guide-item-title.open > svg {
    transform: rotate(180deg);
}
.guide-item-response {
    max-height: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #ffffff;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 1.2rem;
    font-family: "Arial";
    transition: max-height 0.25s ease-out;
}
.guide-item-img-outer {
    display: inline-block;
    margin: 0px 0px;
    overflow: hidden;
    border: 0px solid #000000;
}
.guide-item-img {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    height: 100%;
}
