nav {
    z-index: 1000;
    background: white;
    box-shadow: 0 6px 6px -6px rgb(0 0 0 / 50%);
}
.content-container {
    align-items: center;
}

.columns {
    width: calc(100% - 2rem - 2rem);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 4rem 2rem 2rem 2rem;
}

.data-input-outer-container {
    position: relative;
    width: 100%;
    flex: 6;
    flex-basis: 1000px;
    max-width: 1200px;
}
.data-input-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* min-width: 1000px; */
    max-width: 1200px;
    padding-right: 2em;
    /* border-right: 2px solid lightslategrey; */
}
.dropdown-container {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.dropdown-button {
    position: relative;
    width: 100%;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: #ffc107;
    font-size: 1.25rem;
    text-align: start;
}
.dropdown-button-icon {
    position: absolute;
    float: inline-end;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}
.dropdown-button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255 193 7 / 50%);
}
.dropdown-button:hover {
    background-color: #d39e00;
}
.dropdown-options {
    position: absolute;
    transform: translateY(0.2rem);
    z-index: 100;
    display: none;
    width: 100%;
    background-color: white;
    border: 1px solid grey;
    border-radius: .2rem;
    transition: all 0.25s ease;
}
.dropdown-options.show {
    display: block;
}
.dropdown-option {
    width: 100%;
    padding: 0.25rem 1rem;
    cursor: pointer;
}
.dropdown-option:hover {
    background-color: lightgrey;
}
.dropdown-option:first-child {
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
}
.dropdown-option:last-child {
	margin-bottom: 0;
	border-bottom-left-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
}
.dropdown-option.selected {
    background-color: #007bff;
    color: white;
}
.data-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
.card {
    position: relative;
    /* min-width: 350px; */
    margin: 2rem auto 0rem auto;
    border-radius: .2rem;
}
.card-header {
    width: 100%;
    margin-bottom: -1px;
    border: 1px solid grey;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
}
.card-header:last-child {
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
}
.card-title {
    position: relative;
    font-size: 1.2rem;
    float: start;
    padding: 0.6rem 1rem;
}

.list-group {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0.25rem 1rem;
    margin-bottom: -1px;
    border: 1px solid grey;
}
.list-item:first-child {
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
}
.list-item:last-child {
	margin-bottom: 0;
	border-bottom-left-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
}

.list-item-cbattr {
    /* height: 100%; */
    display: flex;
    flex: 8;
}
.list-item-cbattr-label {
    /* height: 100%; */
    display: flex;
    flex: 1;
    align-items: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.list-item-cb {
    margin-right: 1em;
    width: 1em;
    height: 1em;
    border-radius: 0.2rem;
}
.list-item-cb:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem lightskyblue;
}
.list-item-weight {
    display: flex;
    flex: 2;
    min-width: 0;
    height: 100%;
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border: 1px solid lightslategrey;
    border-radius: 0.2rem;
    background-clip: padding-box;
    text-align: end;
}
.list-item-weight:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem lightskyblue;
}
.list-item-weight[disabled=true] {
    background-color: lightgrey;
    color: grey;
}
.list-item-warning {
    display: none;
    color: red;
    margin-right: .5rem;
}
.list-item-warning.show {
    display: block;
}

.input-outer-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto 0 auto;
    justify-content: space-between;
}
.input-container {
    flex: 1;
    min-width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-container.show {
    margin-top: 2rem;
}
.input-instruction {
    margin-bottom: 0.2rem;
    color: lightslategrey;
}
/* .input-inner-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 0 auto;
} */
.input {
    width: 100%;
    min-width: 0;
    max-width: 350px;
    /* margin-top: 2rem; */
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border: 1px solid lightslategrey;
    border-radius: 0.2rem;
    background-clip: padding-box;
}
.input.error {
    border-color: red;
}
.input:focus {
    outline: 0;
    outline: none;
    box-shadow: 0 0 0 0.2rem lightskyblue;
}
.input-warning {
    display: none;
    color: red;
    margin-right: .5rem;
}
.input-warning.show {
    display: block;
}

.process-button-container {
    position: relative;
    width: 100%;
    margin: 2rem auto auto auto;
    text-align: center;
    color: lightslategrey;
}
.process-warning {
    display: none;
    color: red;
}
.process-warning.show {
	margin-bottom: .2rem;
    display: block;
}
.select-three {
	margin-bottom: .3rem;
}
.process-button {
    position: relative;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: #28a745;
    font-size: 1.25rem;
    color: white;
}
.process-button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(40 167 69 / 50%);
}
.process-button:not(:disabled):hover {
    background-color: #1e7e34;
}
.process-button:disabled {
    background-color: lightgrey;
}
.process-button-text {
    display: inline-block;
    margin-right: 0.5em;
}
.process-button-spinner {
    display: none;
    width: 1em;
    height: 1em;
    border: 4px solid white;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

.process-button-spinner.show {
    display: inline-block;
}

.chart-container {
    position: relative;
    flex: 4;
    /* min-width: 1000px; */
    /* max-width: 1600px; */
    /* margin: 2rem auto; */
}
/* for user_documentation */
.help-header{
	color: #000000;
	font-size: 22pt;
	font-family: "Arial";
	line-height: 1.15;
	text-align: center;
	padding-top:72px;
}
.titleHead {
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 18pt;
	font-family: "Arial";
	font-style: normal;
}

.titleResponse {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 14pt;
	font-family: "Arial";
	font-style: normal;
}

.helpMenu {
	text-align:left;
	background-color: #ffffff;
}
p.helpP{
	padding-top: 10px;	
	padding-left: 72px;
	padding-right:72px;
}
/* end for user_documentation */
.chart-container > p {
    display: flex;
    font-size: 2rem;
}
#chart {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
}

.plotly-container {
    position: relative;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* max-width: width of data-input-outer-container + min chart size + other stuff */
/* 1200px + 480px + other stuff */
@media screen and (max-width: 1680px) {
    .columns {
        flex-direction: column;
    }
    .data-input-outer-container {
        flex: none;
        margin-right: auto;
        margin-left: auto;
    }
    .data-input-container {
        padding-right: 0;
    }
    .chart-container {
        flex: none;
        margin: 0 auto;
    }
}

/* @media screen and (min-width: 1001px) and (max-width: 1680px) {
    .data-input-container {}
} */

@media screen and (min-width: 501px) and (max-width: 1000px) {
    .data-input-container {
        border-right: 0px;
    }
    .input-outer-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .data-input-container {
        border-right: 0px;
    }
    .input-outer-container {
        flex-direction: column;
    }
    .data-cards {
        flex-direction: column;
    }
}

