<html>

<head>
    <title>Proximity vs. Diversity</title>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
</head>

<body>
    <nav class="flex space-x-4 py-2 px-8 fixed w-screen top-0 z-10">
        <a href="/" class="flex-1 text-xl">
            Proximity Vs. Diversity
        </a>
    </nav>
    <div class="">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'main.js' %}"></script>
</body>

</html>