{% extends 'base.html' %}
{% block title %}Proximity Vs. Diversity Choice Form Redirect{% endblock %}
{% block content %}
<div class="flex flex-col justify-center items-center min-h-screen bg-gray-800">
    <div class="bg-white p-5 text-2xl rounded-lg">
        <h2>Choose a Database</h2>
		<!-- <form method="POST" action="{% url 'DatabaseChoiceView' %}">{% csrf_token %} -->
		<form method="POST" action="{% url databaseName %}">{% csrf_token %}
            {{form}}
            <input type="submit" value="Submit"></input>
        </form>
		<p> Previous Choice: {{choice}} </p>
		<h2>Choice Name: {{databaseName}}</h2>
    </div>

</div>
{% endblock %}