{% extends 'base.html' %}
{% block title %}Proximity Vs. Diversity Choice Form Redirect{% endblock %}
{% block content %}
<div class="flex flex-col justify-center items-center min-h-screen bg-gray-800">
    <div class="bg-white p-5 text-2xl rounded-lg">
        Astrophysicists vs. Data
    </div>
    <div style="color:#FF0000;">
        <h2 class="text-lg"> Choose a Database </h2>
        
        <form method="POST" action="{% url 'DatabaseChoiceView'%}">{% csrf_token %}
            {{form}}
            <input type="submit" value="Submit"></input>
        </form>
		
		<p> Previous Choice: {{choice}} </p>
        
    </div>
</div>
{% endblock %}