{% extends 'base.html' %}
{% block title %}Proximity Vs. Diversity{% endblock %}
{% block content %}
<div class="flex flex-col justify-center items-center min-h-screen bg-gray-800">
    <div class="bg-white p-5 text-2xl rounded-lg">
        Astrophysicists vs. Data
    </div>
    <div class="text-gray-800 hover:text-white">
        <h2 class="text-lg"> Example Context Usage </h2>
        <div class="max-w-sm">
            {{ example_data }}
        </div>
        <img src="data:image/png;base64,{{ data }}" alt="" height="600" width="900">
    </div>
</div>
{% endblock %}