{% extends 'base.html' %}
{% block title %}Proximity Vs. Diversity{% endblock %}
{% block content %}
<div class="flex flex-col justify-center items-center min-h-screen bg-gray-800">
    <div class="bg-white p-5 text-2xl rounded-lg">
        Astrophysicists vs. Data
    </div>
    <div class="text-gray-800 hover:text-white">
        <h2 class="text-lg"> Example Context Usage </h2>
        <div class="max-w-sm">
            {{ example_data }}
        </div>
    </div>
    <div class="relative inline-block">
      <button onClick="" class="bg-white p-4 text-xl rounded-lg">Select Function</button>
      <div id="functionDropdown" class="hidden absolute bg-white min-w-max z-1">
        <a href="#">Function 1</a>
        <a href="#">Function 2</a>
        <a href="#">Function 3</a>
      </div>
    </div>
</div>
{% endblock %}
